.WeatherForecast {
  text-align: center;
}
.Forecast-temperature-min {
  opacity: 0.5;
  margin-left: 4px;
}
@media (max-width: 500px) {
  .WeatherForecast {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .WeatherForecast {
    font-size: 10px;
  }
  .WeatherForecast .row {
    --bs-gutter-x: 0.5rem;
  }
}
